version: '3'
services:
  nextjs-app:
    build: .
    restart: always
    ports:
      - "3000:3000"  # direct host port for testing
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "9000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - nextjs-app
    networks:
      - webnet

networks:
  webnet:
