version: '3.8'

services:
  nextjs:
    build:
      context: ./nextjs-app
    container_name: nextjs
    restart: unless-stopped
    expose:
      - 3000

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "9000:80"
    depends_on:
      - nextjs
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
