version: '3'
services:
  nextjs-app:
    build: .
    restart: always
    expose:
      - "3000"
    networks:
      - webnet 

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "9000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro  
    depends_on:
      - nextjs-app
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
