version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - pngnet
    expose:
      - "3000"

  nginx:
    image: nginx:1.24-alpine
    ports:
      - "9000:80"
    depends_on:
      - frontend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - pngnet

networks:
  pngnet:
    driver: bridge
